<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indice</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">

        <h1>Welcome to Quoting Dojo</h1>

        <% if (mensaje !="" ) { %>

            <div class="alert alert-success">
              <%= mensaje %>
            </div>
  
        <% } %>

        
        <% if (mensaje !="" ) { %>

            <div class="alert alert-danger">
              <%= error %>
            </div>
  
        <% } %>
    </div>

    
    <form action="/quotes" method="POST">

        <label>            
        <p>your author:</p>
            <input required type="text" name="author">
        </label>
        <p>Your quotes:</p>
        <textarea required type="text" name="quote"></textarea>
        <input required type="submit" value="Add my quotes!">
    </form>
    <form action="/quotes" method="GET">
        <input required type="submit" value="skip to quotes!">
    </form>
    
</body>

</html>